{% extends 'base.html.twig' %}
{% block title %}Success!
{% endblock %}

{% block body %}

	<div class="Successbg bg-light rounded-4 mx-auto p-5">
		<div class="Successtext position-absolute top-50 start-50 translate-middle">
			<h1 class="text-center display-1 fw-normal mb-3">Siker!</h1>
			<h6 class="text-center fs-4">Köszönjük szépen a kérdésedet. Válaszunkkal hamarosan keresünk a megadott e-mail címen.</h6>
			<h6 class="text-center fs-5 mt-3" ><a href="./">Kattints ide,</a> hogy visszatérj az előző oldalra</h6>
		</div>
	</div>

{% endblock %}
	